.singlegame {
    border: 1px solid var(--main-green);
    margin: 5px 0 20px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: inset 0 0 10px var(--main-green);
    padding:20px;
}
.leaguefullname{width:100%;text-align: center;font-weight: 600;margin-bottom:20px;}